.listAllHardwareReviews{
  margin: 10px 15vw;
  padding: 15px;
  font-size: 18px;
  background-color: #e3eceb;
  min-height: 10vh;
  border-radius: 10px;
}
h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  margin: 40px 15vw;
  font-size: 25px;
}
